
.navclass{
    display: block;
    background:transparent;
    margin-top: 0px;
    padding: 1rem;
    margin-left: 150px;
    /* z-index: 10; */
        font-family: 'Plus Jakarta Sans', sans-serif;

}
.nav-items{
    font-size: 16px;
    
    display: flex;
    
    list-style-type: none;
    align-items: center;
    justify-content: left;
     
    
    
}
.nav-items a{ 
    color: #6F7692 ;
    
    /* font-weight: bold; */
    padding:10px;
    text-decoration: none;
    cursor: pointer;
  
} 
.nav-items a:hover{
    
    color: blue;
}
