.post_box{
    width: 650px;
    background-color: white;
    height: max-content;
    margin-top: 35px;
    /* justify-content: space-evenly; */
    /* position: absolute;
    top:400px;
    left: 270px;  */
    /* overflow-x: hidden; */
}
nav ul {
    /* margin-top: 30px; */
    display: flex;
    list-style-type:none;
    /* padding: 10px; */
     align-items:center;
     flex-wrap: wrap;
     /* margin: 20px; */

    /* margin: 10px; */
    /* justify-content: space-evenly; */
}
#posted_text{
    margin-top: -13px;
    padding: 5px;
    color:grey;
}
#time_period{
    margin-top:37px;
    margin-left:-340px;
    font-size: 15px;
    color:grey;
}
#title{
 margin-top: -10px;
}

.pdp{   
    border-radius: 70%;
    height: 70px;
    padding: 10px;
    margin: 10px;
   }
.blue_tick_post{
    margin-top: -10px;
    width: 15px;
    height:20px;
    padding: 5px;
}
#tripledot{
  margin-left: 420px;
  margin-top: -20px;
  /* margin-right: 110px; */
   /* position: absolute; */
  font-size: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  /* right: 140px; */
  /* top:50px; */
}
/*    */
#content_container{
    padding: 10px;
    color: grey;
}
.post_image{
  width: 600px;
  padding: 20px; 
  /* filter: blur(4px); */
  /* margin-left: 10px; */

  /* -webkit-filter: blur(8px); */
}

/*  */
#post_container{
    display: flex;
    background-color:  hsl(0, 0%, 91%);
    flex-direction: column;
    position: absolute;
    width: 650px;
    height: 3500px;
    top:400px;
    left: 270px; 
    /* justify-content: space-evenly; */
}


/* like comment share */
#post_footer{
    display: flex;
    /* justify-content: space-between  ; */
    border-top: solid 5px lightcyan;
}

#post_footer button{
    border :none;
    background:none;
    width:180px;
    cursor: pointer ;
    height: 120px;
    font-size: 18px;
    color: grey;
}
#share{
    background: none;
    margin-left: 200px;
}
#reacted{
    color:grey;
    padding: 10px;
}

.reacted-section img{
   width: 30px;
   padding-left: 1px;
}