/* body{
    margin:0px; 
    padding: 0px;
} */
.sidebar-class{
    
    /* margin-top:-10px; */
    background-color:white;
    width: 260px;
    height:100%;
    z-index: 3;
    position: fixed;
    top:0px; 
    border: 1px solid;

}
#side-switch{
           background: transparent;
           border: none;
           position: absolute;
           top: 100px;
           left:250px;
            width:0;
            border-bottom:solid 25px grey;
            /* border-top: solid 30px black; */
            border-right:solid 25px transparent;
            border-left:solid 25px transparent;
            transform: rotate(90deg);
}

.top-sidebar{
    margin: 25px;
    display: flex;
    /* padding: 5px; */
    /* margin-top: 155px; */
    /* align-items: center; */
    text-align: center;
    
}
.top-sidebar img{
    
    width:40px;
    height: 40px;
}
.top-sidebar #heading{
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    /* padding: 10px; */
    /* margin-top:30px; */
}
.sidebar-user img {
    border-radius: 55px;
    width: 55px;
    height: 55px;
    margin-top: -10px;
    
    
}
.sidebar-user {
    border-top: 2px solid lightcyan;
    /* border-bottom:2px solid white; */
    color: black;
    font-size: 16px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* margin: 10px; */
    padding-top: 25px;
    border-bottom: 2px solid lightcyan;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif ;
}
.sidebar-user #profile_username{
  position: absolute; 
   top:140px;
   left:105px;
   font-weight: normal;

}
.menu-items{
    padding: 20px;
    color: grey;
}
.side-items{
    color:grey;
    padding: 10px;
    margin: 10px;  
    font-weight: bold;  
}
.side-items:hover{
    background-color:rgb(186, 186, 234);
    border-radius: 16px;
}
.side-icons{
    width: 40px;
}

.sidebar-footer{

   display: flex;
   justify-content: center;
   background-color: lightcyan;
}

.sidebar-footer .footer-icons{
    color: grey ;
   padding: 20px;
}