.carousel{
    background-color: hsl(0, 0%, 91%);
    height: 2500px;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
}

.carousel-inside{
    margin-left: 260px;
    display: flex;
    /* text-align: center; */
    /* justify?-?content: center; */
}

.carousel-inside div img{
    max-width:150px;
     padding: 10px;
     border-radius: 10%;
    }

